/* CSS reset */
* {
        margin:0;
        padding:0;
        list-style:none;
        vertical-align:baseline;
 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        font-family: 'Raleway', sans-serif;

}

body {
	width: 100%;
} 


#header {
	background-color: #FF5850;
}


#sunset {
	width: 100%;
}



#krika {
	font-size: 72px;
	font-weight: 200;
	padding-left: 200px;
	position: absolute; 
  	top: 200px; 
  	left: 500px;  
 	color: white;
}

#content {
	width:100%;
}

.description {
	padding-top: 30px;
	line-height: 1.5;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 500px;
	color: white;
}


.description h2 	{
	font-size: 36px;
}

.description p {
	font-size: 20px;
}


/* =================================  */
#containerGato {
	overflow: auto;
	background-color: #FF5850;
	width: 100%;
	padding: 80px; 
}


#imgGato {
	float: left;
	height: 280px;
	display: block;
	margin-left: 11%;
	/*background-color: white;*/
	border-radius: 30px;

}

#descriptionGato {
	float: right;
	padding-top: 30px;
	line-height: 1.5;
	display: block;
	text-align: left;
	width: 400px;
	color: white;
	margin-right: 84px;
}

#descriptionGato h1 {
	display: block;
}

#descriptionGato h2 {
	font-size: 36px;
}

#descriptionGato p {
	font-size: 20px;
}


/* =================================  */
#containerCiranda {
	overflow: auto;
	background-color: #FCB040;
	width: 100%;
	padding: 80px; 
}

#imgCiranda {
	height: 275px;
	padding: 17px;
	padding-right: 70px; 
	display: block;
	float: right;
}
#descriptionCiranda {
	float: left;
	padding-top: 30px;
	display: block;
	text-align: right;
	width: 500px;
	color: white;
	padding-left: 8%;
	margin-left: 70px;
}

#descriptionCiranda h1 {
	display: block;	
	line-height: 1.5;
}

#descriptionCiranda h2 {
	font-size: 36px;
	line-height: normal;
	padding-bottom: 5px;
}

#descriptionCiranda p {
	font-size: 20px;
	line-height: 1.5;
}



/* =================================  */
#containerCubo {
	overflow: auto;
	background-color: #055F5C;
	width: 100%;
	padding: 80px; 
}

#imgCubo {
	height: 300px;
	padding: 17px;
	display: block;
	float: left;
	border-radius: 30px;
	padding-left: 8%;
}

#descriptionCubo {
	float: right;
	padding-top: 70px;
	line-height: 1.5;
	display: block;
	text-align: left;
	width: 400px;
	color: white;
	margin-right: 84px;
}

#descriptionCubo h1 {
	display: block;
}

#descriptionCubo h2 {
	font-size: 36px;
}

#descriptionCubo p {
	font-size: 20px;
}

/* =================================  */
#containerBttf {
	overflow: auto;
	background-color: #A4C400;
	width: 100%;
	padding: 80px; 
}

#imgBttf {
	height: 275px;
	padding: 17px;
	padding-right: 168px; 
	display: block;
	float: right;
}
#descriptionBttf {
	float: left;
	padding-top: 57px;
	display: block;
	text-align: right;
	width: 500px;
	color: white;
	padding-left: 10%;
	margin-left: 55px;
}

#descriptionBttf h1 {
	display: block;	
	line-height: 1.5;
}

#descriptionBttf h2 {
	font-size: 36px;
	line-height: normal;
	padding-bottom: 5px;
}

#descriptionBttf p {
	font-size: 20px;
	line-height: 1.5;
}
/* =================================  */

#containerNatal {
	overflow: auto;
	background-color: #0DB4CA;
	width: 100%;
	padding: 80px; 
}


#imgNatal {
	float: left;
	height: 280px;
	display: block;
	margin-left: 11%;
	/*background-color: white;*/
	

}

#descriptionNatal {
	float: right;
	padding-top: 30px;
	line-height: 1.5;
	display: block;
	text-align: left;
	width: 400px;
	color: white;
	margin-right: 84px;
}

#descriptionNatal h1 {
	display: block;
}

#descriptionNatal h2 {
	font-size: 36px;
}

#descriptionNatal p {
	font-size: 20px;
}
/* =================================  */

#containerContato {
	padding-top: 5px;
	float: right;
	padding-right: 20px;
}

h3 {
	padding-bottom: 5px;
	font-weight: 300;
	font-size: 20px;
	text-align: right;
}
